# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.o
*.a

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

*~
*.swp
*.bak
*.tmp

*.tokens

*.class

.classpath
.loadpath
.metadata
*.launch
local.properties
.settings/
/bin/
/build/
target/
antlr-generated/


ASTOutput/*
!ASTOutput/README

LLVMIROutput/*
!LLVMIROutput/README

.DS_Store

Thumbs.db
Destok.ini
._*

.classpath
